.custom-file-input ~ .custom-file-label::after {
    font-size: small !important;
    right: 0 !important;
    border-radius: 3px !important;
    background-color: #2a8c28;
    color: #fff;
}

.accordion{
    background-color: rgba(42,140,40,0.2);
    color: #2a8c28;
    padding: 0.5em 1em;
    border-radius: 5px;
    font-weight: bold;
    font-size: medium;
}
.panel{
    background-color: rgba(218,218,218,0.3) !important;
}

.add_competence_field,.add_experience_field,.add_formation_field,.add_interest_field,.add_langue_field{
    background-color: #2a8c28!important;
    color: #fff
}

.form-control{
    border: 1px solid #2a8c28!important;
}

.tab-content{
    border: 1px solid #2a8c28!important;
}
.nav-tabs li.active{
    background-color: #2a8c28;
}
.nav-tabs li{
    background-color: rgba(218,218,218,0.3);
    border: 1px solid rgba(218,218,218,0.8);

}
.nav-tabs li.active a{
    color: #fff!important;
}
.nav-tabs li a{
    color: #2a8c28!important;
    font-size: 14px;
    font-weight: 400;
    padding: 14px 20px;
}